@font-face {
    font-family: 'Bunny Flowers';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BunnyFlowers-Regular.woff") format('woff');
}
@font-face {
  font-family: BuilderSans;
  font-weight: 500;
  src: url("../fonts/BuilderSans-Medium-500.woff2") format('woff2');
}
@font-face {
  font-family: BuilderSans;
  font-weight: 700;
  src: url("../fonts/BuilderSans-Bold-700.woff2") format('woff2');
}