@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Playpen+Sans:wght@100..800&family=Oxanium&family=Patrick+Hand&family=Denk+One&family=Marhey:wght@700&family=Rubik+Wet+Paint&family=Irish+Grover&family=Poppins:wght@700&family=Rye&family=Eater&family=Bangers&family=Inconsolata:wght@900&family=Roboto+Mono:wght@700&family=Sedgwick+Ave+Display&family=Rubik+Marker+Hatch&family=Sarpanch:wght@700&family=Kalam&family=Are+You+Serious&family=Akronim&family=Kings&family=Permanent+Marker&family=Caesar+Dressing&family=Michroma&family=Titillium+Web&family=Grenze+Gotisch:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Bungee+Shade&family=Frijole&family=Audiowide&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lobster&family=Fredoka:wght@300..700&family=Codystar:wght@300;400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Michroma&family=Jura&family=Special+Elite&family=Noto+Serif+HK:wght@200..900&family=Faster+One&family=Nosifer&family=Silkscreen&family=Finger+Paint&family=Merriweather&family=Luckiest+Guy&family=Bungee+Inline&family=Creepster&family=Indie+Flower&family=Pacifico&family=Cairo&family=Fondamento&family=Balthazar&family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");



section {
  zoom: 0.93;
  background: #494949;
  padding: 2rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
  position: sticky;
  z-index: 22;
  border: 15px solid #676767;
  border-radius: 33px;
  padding: 0px;
}



#tooltip[popover] {
  left: anchor(center);
  position-anchor: --a;
  top: anchor(bottom);
  transform: translate(-50%, 8px);

  color: #fff;

  padding: 12px 18px;
  inset: auto;
  position: absolute;
  font-size: 1.1em;
  box-shadow: 0 0 12px black, 0 0 12px black, 0 0 15px black, inset 0 0 12px black;
  backdrop-filter: blur(5px);
  z-index: 9999;
  margin: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
  position-area: inline-end span-block-end;
  position-try-fallbacks: flip-inline;


  white-space: nowrap;

  background: linear-gradient(0deg, #000000, #00000063);
  border: 1px solid #ffffff45;
  border-radius: 18px;
}








#tooltip[popover]:popover-open {
  opacity: 1;
  pointer-events: none;
}

.catalog {
      background: #494949;
  padding-top: 15px;
  flex: unset;
  margin: 0px;
  zoom: 0.85;
  text-align: center;
  padding-bottom: 33px;
  z-index: auto;
  display: flex;
  justify-content: center;
  display: flow;
  width: fit-content;


}

.catalog p {
  font-size: 1.5rem;
  color: #ffffff;

}


.catalog h2 {
  margin-top: 1px;
  font-family: 'BuilderSans';
  font-size: 2em;
  text-shadow: 2px 3px 9px #00000066;

  margin-bottom: 1rem;

}


nav #gamenightstab:hover {
  background: linear-gradient(145deg, #5188ff, #9013af);
  box-shadow: inset 2px 2px 5px rgb(160 110 0 / .5), inset -2px -2px 5px rgb(255 245 200 / .6), 0 2px 4px rgb(0 0 0 / .15)
}

nav #gamenightstab {
  background: linear-gradient(145deg, #4753fd, #5c0e91)
}

.catalog-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, 194px);
  gap: 21px;
  padding: 2%;
  zoom: 1.25;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.item,
#gears,
#titles,
#pets,
#effects,
#deaths {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(0 0 0 / 49%);
  padding: 0px;
  border-radius: 12px;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background 0.3s ease;
  height: 130px;
  width: 130px;
  color: white;
  cursor: pointer;
}

.itemname {
  height: 0px;
}

#h3 {
  position: absolute;
  top: 6px;
  justify-self: anchor-center;

  z-index: 99999;
  font: 100 12px 'Source Sans Pro';
  text-shadow:
    -1.3px -1.3px 0 #000,
    0 -1.3px 0 #000,
    1.3px -1.3px 0 #000,
    1.3px 0 0 #000,
    1.3px 1.3px 0 #000,
    0 1.3px 0 #000,
    -1.3px 1.3px 0 #000,
    -1.3px 0 0 #000;
}

.item>canvas {
  top: 23px;
  position: relative;
  width: 90px;
  height: 90px;
  z-index: 0;
}



.item p {
  display: none;
  font-size: 22px;
  position: relative;
  text-align: left;
  margin-left: 40;
  left: 16px;
  bottom: 43px;
  z-index: 99999;
  font: 100 24px 'Source Sans Pro';
  text-shadow:
    -2px -2px 0 #000,
    0 -2px 0 #000,
    2px -2px 0 #000,
    1px 0 0 #000,
    2px 2px 0 #000,
    0 2px 0 #000,
    -2px 2px 0 #000,
    -2px 0 0 #000
}


.item p img {
  height: 27px;
  width: 27px;
  float: left;
}



#titles div {
  bottom: -73px;
}

#titles {
  flex-direction: column;
}





.retired-badge {
  background: linear-gradient(180deg, #ff3c3c, #9f0000);
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 3px 4px 4px 6px;
  font-family: monospace;
  font-weight: bolder;
  border-radius: 6px;
  position: absolute;
  justify-self: anchor-center;
  bottom: -12px;
  top: unset;
}



.papi {
  grid-template-columns: repeat(auto-fit, minmax(468px, 2fr));
}




/* Mobile-friendly adjustments */
@media (max-width: 600px) {

  #grid {
    zoom: 0.37;
  }


  section.catalog {
    margin-bottom: 0px;
    width: -webkit-fill-available;
  }


  .papi {
    grid-template-columns: repeat(auto-fit, minmax(104vw, 0fr));
    zoom: 0.86;
  }


  .catalog h2 {
    margin-top: 17px;
    text-shadow: 2px 3px 9px #00000066;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .catalog p {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 35px;
  }

  section:first-of-type {
    padding-bottom: 32px;
  }


}